<div class="text-center">
	<h1>Filter your family tree!</h1>
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-4">
				<h3>Persons not for analysis</h3>
				<div style="height: 486px; overflow: auto">
					<ul class="list-group">
						<% if @persons != nil %>
							<% @persons.each do |i| %>
								<li class="list-group-item"><%=i.firstname + " | " + i.lastname%></li>
							<% end %>
						<% end %>
					</ul>
				</div>
				<br>
				# persons in list: <%= @persons.count %>
			</div>
			<div class="col-md-4">
				<div class="row">
					<h3>Filter</h3>
					<form class="form-inline filters">
						<div class="input-group">
							<span class="input-group-addon bordered height-35px">
							<input type="radio">
							</span>
							<span class="input-group-addon"> All </span>
						</div>
						<% @fields.each do |field| %>
							<div class="input-group">
								<span class="input-group-addon">
								<input type="checkbox">
								</span>
								<span class="input-group-addon no-border-right"><%= field %></span>
								<input type="text" class="form-control">
							</div>
						<% end %>
					</form>
				</div>
			</div>
			<div class="col-md-4">
				<h3>Persons for analysis</h3>
				<div style="height: 486px; overflow: auto">
					<ul class="list-group">
						<% @personsforanalysis.each do |i| %>
							<li class="list-group-item"><%=i.firstname + " | " + i.lastname%></li>
						<% end %>
					</ul>
				</div>
				<br>
				# persons in list: <%= @personsforanalysis.count %>
			</div>
		</div>
	</div>
	<button type="button" class="btn btn-primary text-center btn-lg" style="margin-left: 8px;">&laquo;</button>
	<button type="button" class="btn btn-primary text-center btn-lg">&raquo;</button>
	<%= button_to "Some Button", :action=> "to_right" %>
	<br> <br>
	<button type="submit" class="btn btn-lg btn-primary">Start analysis</button>
</div>