<% if @gedcom_file.errors.any? then %>
    <div class="alert alert-danger text-center">
        <ul class="list-unstyled">
            <% @gedcom_file.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        <ul>
    </div>
<% end %>

<div class="text-center">
	<% if !user_signed_in? %>
		<div class="jumbotron">
				<h1>Welcome to a Family Tree Analyzer </h1>
				<p class="text-muted">
				You can upload a 
				<a href="http://en.wikipedia.org/wiki/GEDCOM"> GEDCOM-file</a>
				and analyze your family tree! 
		  	</p>
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-primary" %>
		</div>
	<% else %>
		<h1>Dashboard
			<br />
			<small>
				Here you can upload a 
				<a href="http://en.wikipedia.org/wiki/GEDCOM"> GEDCOM-file</a>
				and analyze your family tree!
			</small>
		</h1>
		<div class="jumbotron">
			<div class="row">
				<div class="col-md-6">
					<%= form_for :gedcomfile, :html => { :multipart => true }, :url => upload_path do |f| %>
						<p>Upload a family Tree</p>
						<div class="align-block-to-button">
							<div class="form-group">
								<%= f.file_field :data, :id => "file" %>
							</div>
							<div class="form-group">
								<%= f.text_field :filename, :id => "family-name", :class => "form-control pull-left", :placeholder=>"Family name" %>
							</div>
						</div>
						<button id="upload" disabled type="submit" class="btn btn-primary btn-sm show-loading-animation">Upload</button>
					<% end %>
				</div>
				<div class="col-md-6">
					<% if @trees.size > 0 %>
						<p>Select a tree for analysis</p>
						<table id="gedcom-files-table" class="table table-condensed text-left">
							<thead>
								<tr>
									<th>Name</th>
									<th data-sortable="false"></th>
								</tr>
							</thead>
							<tbody>
								<% @trees.each do |tree| %>
									<tr>
										<td class="vertical-align-middle"><%= tree.filename %></td>
										<td>
											<div class="pull-right">
												<%= link_to "Analyze", gedcom_file_path(tree.id), class: "btn btn-primary btn-sm show-loading-animation" %>
												<%= link_to "Delete", gedcom_file_path(tree.id), method: :delete, :data => { confirm: 'Are you sure?'}, class: "btn btn-danger btn-sm" %>
											</div>
										</td>
									</tr>
								<% end %>
							</tbody>
						</table>
					<% else %>
						<p>You have no trees yet.</p>
					<% end %>
				</div>
			</div>
		</div>		
	<% end %>
</div>