<h1>Analyses</h1>

<div class="jumbotron">
  <div class="row">
    <h2> Persons:  <%= @persons.count %>  </h2>
    <div class="col-md-6">
      <div id="sex_donut" style="height: 250px;"></div> 
    </div>
    <div class="col-md-6">
      <div id="dead_alive_donut" style="height: 250px;"></div>
    </div>
  </div>
</div>

<div class="jumbotron">
  <p> <%= @correct_ages %> out of <%= @persons.count %> persons found with valid date fields for calculation. (= <%=@valid_dates_percentage%>%)</p>
  <h2> Birth occurrences by decade </h2>
  <div id="birth_barchart" style="height: 250px;"></div>

  <h2> Death occurrences by decade </h2>
  <div id="death_barchart" style="height: 250px;"></div>

  <h2> Age </h2>
  <div id="age_barchart" style="height: 250px;"></div>

  <h2> Average age by gender <h2>
  <div id="age_average_barchart" style="height: 250px;"></div>


</div>

<div class="jumbotron">
  <h2> Nationalities </h2>
  <div id="nationalites_barchart" style="height: 250px;"></div>

  <div class="row">
    <div class="col-md-6">
      <h2> Places of birth </h2>
    </div>
    <div class="col-md-6">
      <h2> Places of death</h2>
    </div>
  </div>
</div>

<div class="jumbotron">
  <h2> The 10 most common lastnames </h2>
  <div id="common_lastnames_barchart" style="height: 250px;"></div>

  <h2> The 10 most common firstnames </h2>
  <div id="common_firstnames_barchart" style="height: 250px;"></div>
</div>

<script>
  Morris.Donut({
    element: 'sex_donut',
    data: [
      {label: "Male", value: <%= @number_male_persons %>},
      {label: "Female", value: <%= @number_female_persons %>},
    ]
  });

  Morris.Donut({
    element: 'dead_alive_donut',
    data: [
      {label: "Alive", value: <%= @number_alive_persons %>},
      {label: "Deceased", value: <%= @number_deceased_persons %>},
    ]
  });

  Morris.Bar({
    element: 'birth_barchart',
    data: [
      <% @birth_occurrences_by_decade.each do |i| %>
        { y: '<%= i.label %>', a: <%= i.value %> },
      <%end%>
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Births'
  });

  Morris.Bar({
    element: 'death_barchart',
    data: [
      <% @death_occurrences_by_decade.each do |i| %>
        { y: '<%= i.label %>', a: <%= i.value %> },
      <%end%>
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Deaths'
  });

  Morris.Bar({
    element: 'age_average_barchart',
    data: [
      { y: 'males: <%= @average_age_males_array[1] %> of <%= @number_male_persons %> correct records.', a: <%= @average_age_males_array[0] %>},
      { y: 'females: <%= @average_age_females_array[1] %> of <%= @number_female_persons %> correct records.', a: <%= @average_age_females_array[0] %>},
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Age'
  });

  Morris.Bar({
    element: 'age_barchart',
    data: [
      <% @ages.each do |age| %>
      { y: '<%= age.label %>', a: <%= age.value %> },
      <%end%>
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Age'
  });

  Morris.Bar({
    element: 'nationalites_barchart',
    data: [
      { y: 'Germany', a: 77},
      { y: 'France', a: 24},
      { y: 'England', a: 12},
      { y: 'Poland', a: 44},
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Age'
  });

  Morris.Bar({
    element: 'common_lastnames_barchart',
    data: [
      <% @ten_most_common_lastnames.each do |lastnames| %>
      { y: '<%= lastnames.label %>', a: <%= lastnames.value %> },
      <%end%>
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Age'
  });

  Morris.Bar({
    element: 'common_firstnames_barchart',
    data: [
      <% @ten_most_common_firstnames.each do |lastnames| %>
      { y: '<%= lastnames.label %>', a: <%= lastnames.value %> },
      <%end%>
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Age'
  });
</script>