<h1>Analyses</h1>

<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <h2> Persons:  <%= @persons_for_analysis.count %> </h2>
      <div id="sex_donut" style="height: 250px;"></div> 
    </div>
    <div class="col-md-6">
      <h2> Families:  <%= @families_count %> </h2>
      <div id="average_children_per_family_barchart" style="height: 250px;"></div> 
    </div>
  </div>
</div>

<div class="jumbotron">
  <h2> Completeness of date fields for date analyses </h2>
  <div class="row">
    <div class="col-md-6">
      <h3> Missing or incorrect data </h3>
      <div id="missing_data_donut" style="height: 250px;"></div>
    </div>
    <div class="col-md-6">
      <h3> Resulting in: used entities </h3>
      <div id="valid_donut" style="height: 250px;"></div>
    </div>
  </div>
  <h3> When people with invalid data have probably lived? (Guessed: <%= @guessed_dates %>) </h3>
  <div id="living_period_estimation_of_invalid_data_areachart" style="height: 250px;"></div> 
</div>

<div class="jumbotron">
  <h2> Births by decade </h2>
  <div id="birth_barchart" style="height: 250px;"></div>

  <h2> Deaths by decade </h2>
  <div id="death_barchart" style="height: 250px;"></div>

  <h2> Alive persons by decade </h2>
  <div id="alive_by_decade_areachart" style="height: 250px;"></div> 

  <h2> Age distribution of alive persons</h2>
  <div id="age_alive_barchart" style="height: 250px;"></div>

  <h2> Age distribution of deceased persons</h2>
  <div id="age_deceased_barchart" style="height: 250px;"></div>

  <h2> Average age by gender <h2>
  <div class="row">
    <div class="col-md-6">
      <h3> Alive persons </h3>
      <div id="age_average_alive_barchart" style="height: 250px;"></div>
    </div>
    <div class="col-md-6">
      <h3> Deceased persons </h3>
      <div id="age_average_deceased_barchart" style="height: 250px;"></div> 
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2> Average age at marriage </h2>
      <div id="average_age_at_marriage_barchart" style="height: 250px;"></div> 
    </div>
    <div class="col-md-6">
      <h2> Average age at first child </h2>
      <div id="average_age_at_first_child_barchart" style="height: 250px;"></div> 
    </div>
  </div>
</div>

<div class="jumbotron">
  <h2> The 10 most common lastnames </h2>
  <div id="common_lastnames_barchart" style="height: 250px;"></div>

  <h2> The 10 most common male firstnames </h2>
  <div id="common_firstnames_males_barchart" style="height: 250px;"></div>

  <h2> The 10 most common female firstnames </h2>
  <div id="common_firstnames_females_barchart" style="height: 250px;"></div>
</div>

<script>
  Morris.Donut({
    element: 'sex_donut',
    data: [
      {label: "male", value: <%= @number_male_persons %>},
      {label: "female", value: <%= @number_female_persons %>},
    ]
  });

  Morris.Bar({
    element: 'average_children_per_family_barchart',
    data: [
      { y: "Average children per family", a: <%= @average_children_per_family.round(2) %> },
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Children'
  });

  Morris.Donut({
    element: 'valid_donut',
    data: [
      {label: "used", value: <%= @persons_with_valid_date_fields.count %>},
      {label: "not used", value: <%= (@persons_for_analysis.count - @persons_with_valid_date_fields.count) %>},
    ]
  });

  Morris.Donut({
    element: 'missing_data_donut',
    data: [
      {label: "only birthyear", value: <%= @count_probably_missing_death_dates %>},
      {label: "only deathyear", value: <%= @count_missing_birth_dates %>},
      {label: "no dates", value: <%= @count_nothing_set %>},
      {label: "incorrect dates", value: <%= @count_both_set_but_incorrect %>},
    ]
  });  

  Morris.Area({
    element: 'living_period_estimation_of_invalid_data_areachart',
    data: [
      <% @living_period_estimation_of_invalid_data.each do |i| %>
      { y: '<%= i.label %>', a: <%= i.value %> },
      <%end%>
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Alive persons'
  });

  Morris.Bar({
    element: 'birth_barchart',
    data: [
      <% @birth_occurrences_by_decade.each do |i| %>
        { y: '<%= i.label %>', a: <%= i.value %> },
      <%end%>
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Births'
  });

  Morris.Bar({
    element: 'death_barchart',
    data: [
      <% @death_occurrences_by_decade.each do |i| %>
        { y: '<%= i.label %>', a: <%= i.value %> },
      <%end%>
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Deaths'
  });

  Morris.Area({
    element: 'alive_by_decade_areachart',
    data: [
      <% @alive_persons_by_decade.each do |i| %>
      { y: '<%= i.label %>', a: <%= i.value %> },
      <%end%>
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Alive persons'
  });

  Morris.Bar({
    element: 'age_alive_barchart',
    data: [
      <% @ages_alive.each do |age| %>
      { y: '<%= age.label %>', a: <%= age.value %> },
      <%end%>
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Age'
  });

  Morris.Bar({
    element: 'age_average_alive_barchart',
    data: [
      { y: 'males', a: <%= @average_age_males_alive %>},
      { y: 'females', a: <%= @average_age_females_alive %>},
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Age'
  });

  Morris.Bar({
    element: 'age_deceased_barchart',
    data: [
      <% @ages_deceased.each do |age| %>
      { y: '<%= age.label %>', a: <%= age.value %> },
      <%end%>
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Age'
  });

  Morris.Bar({
    element: 'age_average_deceased_barchart',
    data: [
      { y: 'males', a: <%= @average_age_males_deceased %>},
      { y: 'females', a: <%= @average_age_females_deceased %>},
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Age'
  });


  Morris.Bar({
    element: 'average_age_at_marriage_barchart',
    data: [
      { y: 'males', a: <%= @average_age_of_male_at_marriage %>},
      { y: 'females', a: <%= @average_age_of_female_at_marriage %>},
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Age'
  });

  Morris.Bar({
    element: 'average_age_at_first_child_barchart',
    data: [
      { y: 'males', a: <%= @average_age_of_male_at_first_child %>},
      { y: 'females', a: <%= @average_age_of_female_at_first_child %>},
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Age'
  });

  Morris.Bar({
    element: 'common_lastnames_barchart',
    data: [
      <% @ten_most_common_lastnames.each do |lastnames| %>
      { y: '<%= lastnames.label %>', a: <%= lastnames.value %> },
      <%end%>
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Age'
  });

  Morris.Bar({
    element: 'common_firstnames_males_barchart',
    data: [
      <% @ten_most_common_firstnames_males.each do |lastnames| %>
      { y: '<%= lastnames.label %>', a: <%= lastnames.value %> },
      <%end%>
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Age'
  });

  Morris.Bar({
    element: 'common_firstnames_females_barchart',
    data: [
      <% @ten_most_common_firstnames_females.each do |lastnames| %>
      { y: '<%= lastnames.label %>', a: <%= lastnames.value %> },
      <%end%>
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Age'
  });
</script>