<h1>Analyses</h1>

<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <h2> Persons:  <%= @persons.count %> </h2>
      <div id="sex_donut" style="height: 250px;"></div> 
    </div>
    <div class="col-md-6">
      <h2> Families:  <%= @families_count %> </h2>
      <div id="average_children_per_family_barchart" style="height: 250px;"></div> 
    </div>
  </div>
</div>
<div class="jumbotron">
  <h2> Completeness of date fields for further analyses </h2>
  <div class="row">
    <div class="col-md-4">
      <h3> Valid/Invalid date fields </h3>
      <div id="valid_donut" style="height: 250px;"></div>
    </div>
    <div class="col-md-4">
      <h3> Birthyear set/not set </h3>
      <div id="birthyear_set_donut" style="height: 250px;"></div>
    </div>
    <div class="col-md-4">
      <h3> Probably missing death date </h3>
      <div id="missing_deathdate_donut" style="height: 250px;"></div>
    </div>
  </div>
</div>

<div class="jumbotron">
  <h2> Birth occurrences by decade </h2>
  <div id="birth_barchart" style="height: 250px;"></div>

  <h2> Death occurrences by decade </h2>
  <div id="death_barchart" style="height: 250px;"></div>

  <h2> Alive persons by decade </h2>
  <div id="alive_by_decade_areachart" style="height: 250px;"></div> 

  <h2> Age distribution </h2>
  <div id="age_barchart" style="height: 250px;"></div>

  <h2> Average age by gender <h2>
  <div id="age_average_barchart" style="height: 250px;"></div>

</div>

<div class="jumbotron">
  <h2> Nationalities </h2>
  <div id="nationalites_barchart" style="height: 250px;"></div>

  <div class="row">
    <div class="col-md-6">
      <h2> Places of birth </h2>
    </div>
    <div class="col-md-6">
      <h2> Places of death</h2>
    </div>
  </div>
</div>

<div class="jumbotron">
  <h2> The 10 most common lastnames </h2>
  <div id="common_lastnames_barchart" style="height: 250px;"></div>

  <h2> The 10 most common firstnames </h2>
  <div id="common_firstnames_barchart" style="height: 250px;"></div>
</div>

<script>
  Morris.Donut({
    element: 'sex_donut',
    data: [
      {label: "male", value: <%= @number_male_persons %>},
      {label: "female", value: <%= @number_female_persons %>},
    ]
  });

  Morris.Bar({
    element: 'average_children_per_family_barchart',
    data: [
      { y: "Average children per family", a: <%= @average_children_per_family.round(2) %> },
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Children'
  });
  
  Morris.Donut({
    element: 'valid_donut',
    data: [
      {label: "valid", value: <%= @persons_with_vaid_date_fields.count %>},
      {label: "invalid", value: <%= (@persons.count - @persons_with_vaid_date_fields.count) %>},
    ]
  });

  Morris.Donut({
    element: 'birthyear_set_donut',
    data: [
      {label: "set", value: <%= @count_persons_with_birthyear_set %>},
      {label: "not set", value: <%= @count_persons_with_birthyear_unset %>},
    ]
  });

  Morris.Donut({
    element: 'missing_deathdate_donut',
    data: [
      {label: "missing", value: <%= @count_probably_missing_death_dates %>},
      {label: "not missing", value: <%= (@persons.count - @count_probably_missing_death_dates) %>},
    ]
  });

  Morris.Bar({
    element: 'birth_barchart',
    data: [
      <% @birth_occurrences_by_decade.each do |i| %>
        { y: '<%= i.label %>', a: <%= i.value %> },
      <%end%>
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Births'
  });

  Morris.Bar({
    element: 'death_barchart',
    data: [
      <% @death_occurrences_by_decade.each do |i| %>
        { y: '<%= i.label %>', a: <%= i.value %> },
      <%end%>
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Deaths'
  });

  Morris.Area({
    element: 'alive_by_decade_areachart',
    data: [
      <% @alive_persons_by_decade.each do |i| %>
      { y: '<%= i.label %>', a: <%= i.value %> },
      <%end%>
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Alive persons'
  });

  Morris.Bar({
    element: 'age_average_barchart',
    data: [
      { y: 'males', a: <%= @average_age_males %>},
      { y: 'females', a: <%= @average_age_females %>},
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Age'
  });

  Morris.Bar({
    element: 'age_barchart',
    data: [
      <% @ages.each do |age| %>
      { y: '<%= age.label %>', a: <%= age.value %> },
      <%end%>
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Age'
  });

  Morris.Bar({
    element: 'nationalites_barchart',
    data: [
      { y: 'Germany', a: 77},
      { y: 'France', a: 24},
      { y: 'England', a: 12},
      { y: 'Poland', a: 44},
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Age'
  });

  Morris.Bar({
    element: 'common_lastnames_barchart',
    data: [
      <% @ten_most_common_lastnames.each do |lastnames| %>
      { y: '<%= lastnames.label %>', a: <%= lastnames.value %> },
      <%end%>
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Age'
  });

  Morris.Bar({
    element: 'common_firstnames_barchart',
    data: [
      <% @ten_most_common_firstnames.each do |lastnames| %>
      { y: '<%= lastnames.label %>', a: <%= lastnames.value %> },
      <%end%>
    ],
    xkey: 'y',
    ykeys: 'a',
    labels: 'Age'
  });
</script>