<%= form_tag(filters_path, action: :post, class: "form-inline filters") do %>
  <div class="text-center">
    <h1>Filter your family tree!</h1>
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-4">
          <h3>Persons not for analysis</h3>
          <div style="height: 486px; overflow: auto">
            <ul class="list-group">
              <% if @persons != nil %>
                <% @persons.each do |i| %>
                  <li class="list-group-item">
                    <%=i.firstname + " | " + i.lastname%>
                    <%#=i.to_s%>
                    <input type="hidden" name="persons[]" value="<%= i.id %>" >
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
          <br>
          # persons in list: <%= @persons.count %>
        </div>
        <div class="col-md-4">
          <div class="row">
            <h3>Filter</h3>
            <form class="form-inline filters">
              <div class="input-group">
                <span class="input-group-addon bordered height-35px">
                <input type="radio" name="all_radiobox">
                </span>
                <span class="input-group-addon"> All </span>
              </div>
              <% @fields.each do |field| %>
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" name="<%= field[0] %>_checkbox">
                  </span>
                  <span class="input-group-addon no-border-right"><%= field[1] %></span>
                  <input type="text" name="<%= field[0] %>" class="form-control">
                </div>
              <% end %>
              <div class="input-group">
                <span class="input-group-addon">
                  <input id="descendent-filter-checked" disabled readonly type="checkbox">
                  <input id="descendent-filter-checked-input" type="hidden" value="off" name="descendence_checkbox" />
                </span>
                <div class="input-group-btn">
                  <button class="btn btn-primary no-border-radius filter-label-size" data-toggle="modal" data-target=".bs-example-modal-lg" onclick="return false;">
                    Relatives of
                  </button>
                </div>
                <input id="descendent-filter-name" type="text" class="form-control" readonly disabled />
                <input type="hidden" id="descendence-person-id" name="descendence_person_id" val="" />
                <input type="hidden" id="descendence-filter-type" name="descendence_filter_type" val="" />
                <input type="hidden" id="descendence-kekule-number" name="descendence_kekule_number" val="" />
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-4">
          <h3>Persons for analysis</h3>
          <div style="height: 486px; overflow: auto">
            <ul class="list-group">
              <% @persons_for_analysis.each do |i| %>
                <li class="list-group-item">
                  <%=i.firstname + " | " + i.lastname%>
                  <%#=i.to_s%>
                  <input type="hidden" name="persons_for_analysis[]" value="<%= i.id %>" >
                </li>
              <% end %>
            </ul>
          </div>
          <br>
          # persons in list: <%= @persons_for_analysis.count %>
        </div>
      </div>
    </div>
    <%= button_tag "«", value: "to_left", class: "btn btn-primary text-center btn-lg", style: "margin-left: 8px;" %>
    <%= button_tag "»", value: "to_right", class: "btn btn-primary text-center btn-lg", style: "margin-left: 8px;" %>
    <br> <br>
    <button type="submit" class="btn btn-lg btn-primary">Start analysis</button>
  </div>

  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Select a person</h4>
        </div>
        <div class="modal-body">
          <table id="persons-preview">
            <thead>
              <th>First name</th>
              <th>Last name</th>
              <th>Birth date</th>
              <th>Death date</th>
              <th>Location birth</th>
              <th>Location death</th>
            </thead>
            <tfoot>
              <th>First name</th>
              <th>Last name</th>
              <th>Birth date</th>
              <th>Death date</th>
              <th>Location birth</th>
              <th>Location death</th>
            </tfoot>
            <tbody>
              <% @all_persons.each do |person| %>
                <tr data-person-id="<%= person.id %>">
                  <td><%= person.firstname %></td>
                  <td><%= person.lastname %></td>
                  <td><%= person.date_birth %></td>
                  <td><%= person.date_death %></td>
                  <td><%= person.location_birth %></td>
                  <td><%= person.location_death %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="form-inline">
          <div class="radio">
            <label>
              <input type="radio" name="select-relatives" id="select-all-decendents" checked>
              All descendents
            </label>
          </div>
        </div>
        <div class="form-inline">
          <div class="radio">
            <label>
              <input type="radio" name="select-relatives" id="select-all-ancestors" >
              All ancestors
            </label>
          </div>
        </div>
        <div class="form-inline margin-bottom">
          <div class="radio">
            <label>
              <input type="radio" name="select-relatives" id="select-kekule-descendent">
              By kekule number:
            </label>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="select-by-kekule-number" disabled />
          </div>
        </div>
        <div class="modal-footer">
          <button id="select-relatives-cancel" type="button" class="btn btn-default" data-dismiss="modal" onclick="return false;">Cancel</button>
          <button id="select-relatives-apply" type="button" class="btn btn-primary" data-dismiss="modal" disabled>Apply person</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<% end %>